POSTGRES_USER=grades_user
POSTGRES_PASSWORD=SecurePass123!
POSTGRES_DB=grades

DB_HOST=db
DB_PORT=5432
DB_NAME=grades
DB_USER=grades_user
DB_PASSWORD=SecurePass123!

# Опционально
DEBUG=true
ENVIRONMENT=dev

# Для прода
# DEBUG=false
# ENVIRONMENT=prod